@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --cor-de-fundo: #F5DEB2;
  --cor-de-input: #fff;
  --cor-de-texto: #000;
  --cor-de-placeholder: rgba(0, 0, 0, 0.5);
  --tarefa-completa: rgba(144, 201, 109, 0.67);
}

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--cor-de-fundo);
  display: flex;
  justify-content: center;
  gap: 12%;
}

.imagem_note {
  padding-top: 5%;
  width: 30%;
  height: 30%;
}

.App {
  text-align: center;
}

h1 {
  color: var(--cor-de-texto);
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

p {
  font-size: 0.9rem;
}

.TodoWrapper {
  background: var(--cor-de-input);
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 5px;
}

.TodoForm {
  width: 100%;
  margin-bottom: 1rem;
}

.todo-input {
  outline: none;
  background: none;
  border: 1px solid #8758ff;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: var(--cor-de-texto);
}

.todo-input::placeholder {
  color: var(--cor-de-placeholder);
}

.todo-btn {
  background: #8758ff;
  color: #fff;
  border: none;
  padding: 0.60rem;
  cursor: pointer;
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--cor-de-fundo);
  color: var(--cor-de-texto);
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.fa-trash {
  margin-left: 0.75rem;
}

.incompleted {
  color: #fff;
  cursor: pointer;
}

.Todo.completed {
  background-color: var(--tarefa-completa);
  cursor: pointer;
}

.edit-icon,
.delete-icon {
  cursor: pointer;
}

/* RESPONSIVIDADE CELULAR */
@media (max-width: 480px) {

  body {
    flex-direction: column;
    padding: 2%;
    align-items: center;
  }

  h1 {
    font-size: 1.40rem;
  }

  p {
    font-size: 0.70rem;
  }

  .TodoWrapper {
    margin-top: 2rem;
  }

  .todo-input {
    width: 200px;
  }
}

/* RESPONSIVIDADE TABLET */

@media (min-width: 768px) and (max-width:820px) {

  body {
    flex-direction: row;
    padding: 2%;
    align-items: center;
    gap: 5%;
  }

  h1 {
    font-size: 1.60rem;
  }

  .TodoWrapper {
    padding: 5rem;
  }

  .todo-input {
    width: 250px;
  }

  .todo-btn {
    padding: 0.60rem;
    cursor: pointer;
  }
}