@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --cor-de-fundo: #FCB890;
  --cor-de-input: #fff;
  --cor-de-texto: #000;
  --cor-de-placeholder: rgba(0, 0, 0, 0.5);
  --cor-de-botao-ok: #5B9A8B;
  --tarefa-completa: rgba(144, 201, 109, 0.67);
}

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  background: var(--cor-de-fundo);
  display: flex;
  justify-content: center;
  gap: 12%;
}

.imagem_note {
  padding: 5%;
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: center;
  margin-left: 3rem;
}

.App {
  text-align: center;
  display: flex;
}

.retangulo-azul {
  background: #ADBDDC;
  width: 78px;
  height: 22px;
  border: 1px solid;
  border-radius: 5px;
}

.retangulo-azul:hover {
  background: rgb(146, 117, 250);
  border: 2px solid;
  padding: 11px 0px;
  border-inline-start-style: solid;
  cursor: pointer;
}

.retangulo-rosa {
  background: #FE9595;
  width: 78px;
  height: 22px;
  border: 1px solid;
  border-radius: 5px;
}

.retangulo-rosa:hover {
  background: #f77070;
  border: 2px solid;
  padding: 11px 0px;
  border-inline-start-style: solid;
  cursor: pointer;
}

.retangulo-roxo {
  background: #C7ADDC;
  width: 78px;
  height: 22px;
  border: 1px solid;
  border-radius: 5px;
}

.retangulo-roxo:hover {
  background: #a467d6;
  border: 2px solid;
  padding: 11px 0px;
  border-inline-start-style: solid;
  cursor: pointer;
}

.retangulo-laranja {
  background: #FCB890;
  width: 78px;
  height: 22px;
  border: 1px solid;
  border-radius: 5px;
}

.retangulo-laranja:hover {
  background: #fa9358;
  border: 2px solid;
  padding: 11px 0px;
  border-inline-start-style: solid;
  cursor: pointer;
}

.retangulo-amarelo {
  background: #FFE3A7;
  width: 78px;
  height: 22px;
  border: 1px solid;
  border-radius: 5px;
}

.retangulo-amarelo:hover {
  background: #f8c860;
  border: 2px solid;
  padding: 11px 0px;
  border-inline-start-style: solid;
  cursor: pointer;
}

.cores {
  display: flex;
  justify-content: space-between;
  gap: 25px;
  padding: 28px;
  background: #FFFFFF80;
  border-radius: 20px;
  max-height: 78px;
  margin-top: 3rem;
  margin-bottom: 2rem;
  margin-left: 3rem;
  align-items: center;
}

h1 {
  color: var(--cor-de-texto);
  margin-bottom: 1rem;
  font-size: 40px;
}

p {
  font-size: 0.9rem;
  padding-left: 0;
  text-align: left;
  width: 400px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.TodoWrapper {
  background: var(--cor-de-input);
  margin: 3rem;
  padding: 2rem;
  border-radius: 5px;
  width: 604px;
  /*  height: 300px; */
}

.TodoForm {
  width: 100%;
  margin-bottom: 2rem;
}

.todo-input {
  outline: none;
  background: none;
  border: 1px solid var(--cor-de-botao-ok);
  padding: 0.5rem 1rem;
  margin-top: 0.9rem;
  margin-bottom: 1rem;
  width: 300px;
  color: var(--cor-de-texto);
}

.todo-input:hover {
  background: #f6fdfc;
}

.todo-input:focus {
  background: #dcf1ed;
}

.todo-input::placeholder {
  color: var(--cor-de-placeholder);
}

.todo-btn {
  background: var(--cor-de-botao-ok);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 0.55rem;
  cursor: pointer;
}

.todo-btn:hover {
  background: #29836e;
}

.todo-filter {
  background: var(--cor-de-fundo);
  color: #000000;
  border: none;
  padding: 10px 14px 10px 14px;
  border-radius: 5px;
  cursor: pointer;
}

.space {
  margin-bottom: 1rem;
  margin-left: 18px;
}

.botoes {
  display: flex;
  margin: 10px 26px;
  justify-content: space-evenly;
}

.botoes-editar {
  display: flex;
  margin: 0px 120px;
  justify-content: space-between;
}

.todo-btn-cancelar {
  background: #c45959;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 0.55rem;
  cursor: pointer;
}

.todo-btn-cancelar:hover {
  background: #a12020;
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--cor-de-fundo);
  color: var(--cor-de-texto);
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-top: 1rem;
  cursor: pointer;
}

.fa-trash {
  margin-left: 0.75rem;
}

.incompleted {
  color: #fff;
  cursor: pointer;
}

.Todo.completed {
  background-color: var(--tarefa-completa) !important;
  cursor: pointer;
}

.Todo.completed:hover {
  background-color: var(--cor-de-botao-ok);
}

.edit-icon,
.delete-icon {
  cursor: pointer;
}

/* RESPONSIVIDADE CELULAR */
@media (max-width: 480px) {

  body {
    display: flex;
    flex-direction: column;
    padding: 10%;
  }

  .App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .imagem_cor {
    display: flex;
    flex-direction: column-reverse;
  }

  .cores {
    display: flex;
    gap: 5px;
    padding: 20px;
    border-radius: 20px;
    margin: 10px 0px 10px 0px;
    width: 285px;
    height: 43px;
  }

  .retangulo-azul {
    width: 40px;
    height: 13px;
    border: 0.5px solid;
  }

  .retangulo-azul:hover {
    border: 1px solid;
    padding: 8.5px 0px;
  }

  .retangulo-rosa {
    width: 40px;
    height: 13px;
    border: 0.5px solid;
  }

  .retangulo-rosa:hover {
    border: 1px solid;
    padding: 8.5px 0px;
  }

  .retangulo-roxo {
    width: 40px;
    height: 13px;
    border: 0.5px solid;
  }

  .retangulo-roxo:hover {
    border: 1px solid;
    padding: 8.5px 0px;
  }

  .retangulo-laranja {
    width: 40px;
    height: 13px;
    border: 0.5px solid;
  }

  .retangulo-laranja:hover {
    border: 1px solid;
    padding: 8.5px 0px;
  }

  .retangulo-amarelo {
    width: 40px;
    height: 13px;
    border: 0.5px solid;
  }

  .retangulo-amarelo:hover {
    border: 1px solid;
    padding: 8.5px 0px;
  }

  .imagem_note {
    width: 180px;
    height: 180px;
    padding: 0%;
    display: inline-block;
    margin: 0rem;
  }

  .TodoWrapper {
    border-radius: 5px;
    width: 110%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    padding: 2rem 0.9rem;
  }

  h1 {
    margin-bottom: 0.4rem;
    font-size: 26px;
  }

  p {
    font-size: 0.6rem;
    text-align: left;
    padding-left: 2px;
    width: 180px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .todo-filter {
    margin: 5px 10px;
    padding: 5px 10px;
  }

  .Todo {
    padding: 1rem 1rem;
    margin-bottom: 0rem;
    border-radius: 15px;
  }

  .botoes {
    margin: 10px 0.5px;
    justify-content: space-around;
  }

  .TodoForm {
    margin-bottom: 0.5rem;
  }

  .todo-input {
    width: 85%;
    color: var(--cor-de-texto);
    margin-bottom: 0rem;
  }

  .edit-icon,
  .delete-icon {
    display: flex;
    flex-direction: row;
  }

  .botoes-editar {
    margin: 0px 22px;
  }

}

/* RESPONSIVIDADE TABLET */

@media (min-width: 720px) and (max-width:1024px) {

  body {
    display: flex;
    flex-direction: column;
    padding: 10%;
    align-items: center;
  }

  .App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .imagem_cor {
    display: flex;
    flex-direction: column-reverse;
  }

  .imagem_note {
    margin: 1rem 2rem;
  }

  .cores {
    margin: 0rem;
  }

  .retangulo-azul:hover {
    padding: 14px 0px;
  }

  .retangulo-rosa:hover {
    padding: 14px 0px;
  }

  .retangulo-roxo:hover {
    padding: 14px 0px;
  }

  .retangulo-laranja:hover {
    padding: 14px 0px;
  }

  .retangulo-amarelo:hover {
    padding: 14px 0px;
  }

  .todo-filter {
    padding: 10px 25px;
    align-items: center;
  }
}